.card-portfolio {
    padding: $spacing 0;
    margin-bottom: 0;

    &__wrapper {
        .card-portfolio {
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
        }
    }

    &__container {
    }

    &__detail {
        .title,
        .position,
        .description {
            margin: 0;
        }

        .title {
            font-size: 24px;
            font-weight: 500;
        }

        .position {
            color: #ccc;
            font-style: italic;
            font-weight: 500;
        }

        .description {
            font-size: 16px;
            font-weight: 400;
        }
    }

    &__list {
        padding-left: inherit !important;
        li {
            list-style-type: disc !important;
        }
    }

    &__technology {
        li {
            display: inline-block;
            margin-right: ($spacing / 3);
            margin-bottom: ($spacing - 5px);

            &:last-child {
                margin-right: 0;
            }
        }
        .badge {
            float: none;
            padding: ($spacing / 3);
            margin-left: 0;

            &:after {
                content: '' !important;
            }
        }
    }

    &__image-holder {
        margin-bottom: $spacing;

        &--fullview {
            margin: 2px;
            display: inline-block;
            width: 100%;

            @media #{$medium-and-up} {
                width: calc(50% - 4px);
            }

            @media #{$large-and-up} {
                width: calc(33.33% - 6px);
            }
        }

        img {
            box-shadow: 3px 5px 3px #ddd;
        }
    }
}
