.main-container {
    margin-left: 70px;
    padding: ($spacing / 3);

    @media #{$medium-and-up} {
        margin-left: 200px;
        padding: $spacing;
    }

    &--fluid {
        padding: 0;
    }
}
