.float-action {
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &__container {
    }

    &__wrapper {
        position: fixed;
        right: 1%;
        bottom: 5%;

        &--left {
            right: auto;
            left: 85px;

            @media #{$medium-and-up} {
                left: 215px;
            }
        }
    }
}
