.navbar {
    position: fixed;
    background-color: $navbar-primary;
    width: 70px;
    height: 100vh;
    color: #fff;
    overflow-y: auto;
    top: 0;
    transition: all 0.3s ease-in-out;

    @media #{$medium-and-up} {
        width: 200px;
    }

    &__container {
    }

    &__menu {
        margin: $spacing 0;
        cursor: pointer;

        span {
            border: 2px solid #fff;
            margin: 5px auto;
            display: block;
            width: 30px;
        }
    }

    &__profile {
        text-align: center;
        padding: $spacing 0;

        @media #{$medium-and-up} {
            padding: $spacing;
        }
    }

    &__image-holder {
        img {
            width: 50px;
            border-radius: 50%;
            border: 3px solid $navbar-secondary;

            @media #{$medium-and-up} {
                width: 100px;
            }
        }
    }

    &__detail {
        .title,
        .subtitle {
            margin: 0;
        }

        .subtitle {
            color: #ccc;
            font-size: 12px;
        }
    }

    &__list {
        margin: ($spacing * 2) 0;
        &-item {
            padding: ($spacing - 5px) 0;
            cursor: pointer;
            display: block;
            color: #fff;

            @media #{$medium-and-up} {
                padding: 10px 15px;
            }

            &:hover,
            &.active {
                background-color: $navbar-secondary;
            }

            .material-icons {
                display: block;
                text-align: center;
                font-size: 22px;

                @media #{$medium-and-up} {
                    display: inline;
                    margin-right: $spacing;
                    font-size: 14px;
                }
            }

            .title {
                display: none;

                @media #{$medium-and-up} {
                    display: inline;
                    font-size: 14px;
                }
            }
        }
    }

    &__social {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 0px;
        margin: 0;

        li {
            display: inline;

            &:first-child {
                margin-left: 10px;
            }

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        svg {
            color: #fff;
            font-size: 16px;
        }
    }
}
