.spinner {
    display: block;
    text-align: center;

    &--xs {
        width: 25px;
    }
    &--sm {
        width: 50px;
    }
    &--md {
        width: 75px;
    }
    &--lg {
        width: 100px;
    }
    &--xl {
        width: 150px;
    }

    img {
        vertical-align: middle;
    }
}
